body {
    background-color: gainsboro;
    font-family: sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h1, h2, p {
    text-align: center;
}

.filters {
    text-align: center;
    padding-bottom: 30px;
}

.metrics {
    text-align: center;
    padding-bottom: 5px;
}

.myPieChart {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

.myChart {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}